*{
    /*width: auto;
    height: auto;
    max-width: max-content;
    max-height: max-content;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: azure;*/
    text-decoration:none; 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: azure;
    font-size: 25px;
    list-style-type: None;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}

body{
    display:block;
    justify-content: center;
    flex-direction: column;
}
header{
    display: flex;
    justify-content: center;
    padding: 0 0 0 0;
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 50px;
}
header h1{
    font-size: 30px;
}
.gradient {

    height: 100vh;
    width:  100vw;
    background: linear-gradient(45deg,rgb(55, 84, 177),rgb(4, 41, 58),rgb(13, 46, 61),rgb(171, 71, 211));
    background-size: 250% 250%;
    animation: colors 15s ease infinite;
}
@keyframes colors{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }

}
div{
    display:flex;
    justify-items: center;
    flex-direction: column;}

ul{display:flex;
    flex-direction: column;
    justify-content: center;
}
li{
display: flex;
flex-direction: column;
align-items:center;
}
label{
    margin-left: -200;
}
input{
    color:black;
    font-size: 17px;
    width:330px;
    height: 30px;
    align-items: flex-start;
}
.buttonStart{

    color: azure;
    background: linear-gradient(45deg,rgb(55, 84, 177),rgb(43, 150, 199),rgb(13, 46, 61),rgb(171, 71, 211));
    background-size: 500% 500%;
    animation: colors 15s ease infinite;
    border: 1px;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 0 5px rgba(108, 63, 192, 0.219);
    transform: translateY(4px);
}

.buttonStart:hover {
    transform: translateY(4px);
}

.buttonStart:active{
    box-shadow: 0 2px rgba(104, 44, 216, 0.671);
    transform: translateY(6px);

}

.centralize{
    display: block;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
}
footer{

    padding: 20px;
    display:block;
    flex-direction: row;
    ;
}
footer a{
    color: purple;
}

