@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: azure;
    font-size: 25px;
    list-style-type: none;
    font-family:'Roboto', sans-serif;
}

p{
    /* margin-top: 10px; */
    margin: 10px;
    padding: 10px;
    background-color: #0b0b0b52;
    border-radius: 10px;

    font-size: 70%;
}
header {
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 30px;
}

#button_participant{
    color: azure;
    background: linear-gradient(-45deg, #ffd5ff, #dfa0df, #bf6bbf, #530952, #3f043e, #2b0029);
    background-size: 500% 500%;
    animation: colors 15s ease infinite;
    /* width: 80px; */
    /* height: 30px; */
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 0 5px rgba(108, 63, 192, 0.219);
    transform: translateY(4px);
    margin-bottom: 30px;
}

input{

    border-radius: 5px;
    outline: none;
    padding-left: 10px;
    box-shadow: 0 0 0 1px inset; /* Cria uma "borda interna" */
}
li#participants li{
    /* background-color: #190b10; */
    display:flex;
    flex-direction: row;
    width: 100px;
    justify-content: center;
    gap:5px;
}
li#participants li button{
    background-color: #fafafa;
    /* box-shadow: 1px 1px 2px 2px rgb(253, 253, 253); */
    border: 0px solid #0b0b0b; 
    border-radius: 5px;
    padding: 2px 15px 2px 15px;
    text-decoration: none;
    font-size: medium;
    color:rgb(41, 41, 41);
    
    /* height: 50px; */
    
}

.gradient-overlay {
    background: linear-gradient(45deg, 
    rgba(0, 0, 0, 0.5), /* Preto com 50% de opacidade */
    rgba(93, 53, 53, 0.5), /* Verde escuro com 50% de opacidade */
    rgba(139, 79, 79, 0.4), /* Verde com 50% de opacidade */
    rgba(224, 52, 52, 0.5), /* Cinza claro com 50% de opacidade */
    rgba(224, 52, 101, 0.5), /* Cinza com 50% de opacidade */
    rgba(104, 33, 118, 0.5), /* Roxo escuro com 50% de opacidade */
    rgba(71, 23, 41, 0.5), /* Roxo com 50% de opacidade */
    rgba(0, 0, 0, 0.8) /* Preto com 50% de opacidade */
);
width: 100%;
height: 150%;
background-size: 350% 350%;
animation: colors 5s ease infinite;
display: flex;
flex-direction: column;
}

h1, h3{
 background-color: #0b0b0bd6;
 margin:10px;
 padding:10px;
 border-radius: 10px;
}
.gradient {
    /* height: 100vh; */
    /* width: 100vw; */
    background-image: url("https://imgs.search.brave.com/fisqia382e081o9PTPnx28pN1aQpQ5UuoGB9C30l-lo/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9tLm1l/ZGlhLWFtYXpvbi5j/b20vaW1hZ2VzL0kv/NTE5ZlN0RHJISkwu/anBn");
    /* background: linear-gradient(45deg, #f3afc0, #d08ea0, #ac6e7f, #662c3e, #4c212f, #33161f, #190b10); */

    background-size: 150% 100%;
    animation: colors 15s ease infinite;
    display: flex;
    flex-direction: column;
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

label {
    margin-left: -200px;
}

input {
    color: black;
    font-size: 17px;
    width: 370px;
    height: 30px;
    align-items: flex-start;
}

.buttonStart {
    color: azure;
    background: linear-gradient(-45deg,  #530952, #3f043e, #2b0029,#ffd5ff, #dfa0df, #bf6bbf);
    background-size: 500% 500%;
    animation: colors 15s ease infinite;
    /* width: 80px;
    height: 30px; */
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 0 5px rgba(108, 63, 192, 0.219);
    transform: translateY(4px);
    margin-bottom: 30px;
}
.gradient-text {
    animation: color-change 15s ease infinite;
}
.gradient-text-invert {
    animation: color-change2 15s ease infinite;
}
@keyframes color-change {
    0% { color: white; }
    50% {color: black;}
    100% { color: white;  }
 
}

@keyframes color-change2 {
    0% { color:  black; }
    50% {color: white;}
    100% { color: black;}
}

.buttonStart:hover {
    transform: translateY(4px);
}

.buttonStart:active {
    box-shadow: 0 2px rgba(104, 44, 216, 0.671);
    transform: translateY(6px);
}

.centralize {
    text-align: center;
    padding-bottom: 20px;
}

footer {
    padding: 20px;
    margin-bottom: 50px;
}

footer a {
    color: purple;
}

.color-ball {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
}
