@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: azure;
    font-size: 25px;
    list-style-type: none;
    font-family:'Roboto', sans-serif;
}

p{
    /* margin-top: 10px; */
    margin: 10px;
    padding: 10px;
    background-color: #0b0b0b52;
    border-radius: 10px;

    font-size: 70%;
}
header {
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 30px;
}
.info{
    background-color: #5309527b;
    gap:5px;
    align-items: center;
    border-radius: 10px;
    min-width: 0px;
    margin: 10px;
    width: auto;
    margin: 0px;
}
a{background-color: #000000;
border-radius: 2px;
padding: 0px 3px 0px 3px;}
#button_participant{
    color: azure;
    background: linear-gradient(45deg, 
        #000000, 
        #1d1d1e, 
        #353434, 
        #4e4d4d, 
        #6a6969, 
        #adaaaa,
        #e6e5e5 
    );
    background-size: 500% 500%;
    animation: colors 15s ease infinite;
    border-radius: 2px;
    padding: 0px 2px 0px 2px;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 0 5px rgba(33, 32, 34, 0.619);
    transform: translateY(4px);
    margin-bottom: 30px;
}

input{

    border-radius: 5px;
    outline: none;
    padding-left: 10px;
    box-shadow: 0 0 0 1px inset;
}
li#participants li{
    display:flex;
    flex-direction: row;
    width: 100px;
    justify-content: center;
    gap:5px;
}
li#participants li button{
    background-color: #fafafa;
    border: 0px solid #0b0b0b; 
    border-radius: 5px;
    padding: 2px 15px 2px 15px;
    text-decoration: none;
    font-size: medium;
    color:rgb(41, 41, 41);
    
}

.gradient-overlay {
    background: linear-gradient(35deg, 
    rgba(16, 16, 16, 0.87),
    rgba(30, 30, 30, 0.803),
    rgba(255, 0, 0, 0.332),
    rgba(255, 0, 0, 0.412),
    rgba(19, 19, 19, 0.938),    
    rgba(7, 7, 7, 0.91),
    rgba(6,6,6)
);
width: 100%;
height: 150%;
background-size: 350% 350%;
animation: colors 10s ease infinite;
display: flex;
flex-direction: column;
}

h1, h3{
 background-color: #0b0b0bd6;
 margin:10px;
 padding:10px;
 border-radius: 10px;
}
.gradient {
    background-image: url("https://assets-prd.ignimgs.com/2022/12/14/scream-6-poster-1671028042759.jpeg");
    background-size: 150% 100%;
    animation: colors 15s ease infinite;
    display: flex;
    flex-direction: column;
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

label {
    margin-left: -200px;
}

input {
    color: black;
    font-size: 17px;
    width: 370px;
    height: 30px;
    align-items: flex-start;
}

.buttonStart {
    color: azure;

    background: linear-gradient(45deg, 
    #e6e5e5,
    #adaaaa,
    #6a6969,
    #4e4d4d, 
    #353434, 
    #1d1d1e,
    #000000 
);
    background-size: 500% 500%;
    animation: colors 15s ease infinite;
    /* width: 80px;
    height: 30px; */
    border-radius: 2px;
    padding :0px 2px 0px 2px;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 0 5px rgba(25, 25, 25, 0.219);
    transform: translateY(4px);
    margin-bottom: 30px;
}
.gradient-text {
    animation: color-change 15s ease infinite;
}
.gradient-text-invert {
    animation: color-change2 15s ease infinite;
}
@keyframes color-change {
    0% { color: white; }
    50% {color: black;}
    100% { color: white;  }
 
}

@keyframes color-change2 {
    0% { color:  black; }
    50% {color: white;}
    100% { color: black;}
}

.buttonStart:hover {
    transform: translateY(4px);
}

.buttonStart:active {
    box-shadow: 0 2px rgba(104, 44, 216, 0.671);
    transform: translateY(6px);
}

.centralize {
    text-align: center;
    padding-bottom: 20px;
}

footer {
    padding: 20px;
    margin-bottom: 100px;
}

footer a {
    color: purple;
}

.color-ball {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
}
